
a:visited {
     color:blue;
}

img {
    width: 50px;
}

/* top two bars */

header {
    display: flex;
    justify-content: space-between;
}
header >* {
    display: flex;
}
.review {
    color:blue;
}
.remindMeLater {
    color: gray;
}
.topbarmain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.topbarmain > * { 
    display: flex;
}
.topbarmainright img {
    height: 100%;
    width: 20px;
}

/*sidebar section*/
.main { /* this is where the main container is inside*/
display: flex;
}
.sidebar {
display: inline-block;
font-size: 10px;
background-color: whitesmoke;
width: 14%;
}
.homesection {

    display: block;
}
.librarysection {
    display: block;
    border-top: 1px gray solid;
}
.signinsection {
    display: block;
    border-top: 1px gray solid;
}
.bestofyoutubesection {
    display: block;
    border-top: 1px gray solid;
}
.browsechannelssection {
    display: block;
    border-top: 1px gray solid;
}
.morefromyoutubesection {
    display: block;
    border-top: 1px gray solid;

}
.settingssection {
    display: block;

}
.descriptionsection {
    display: block;
    border-top: 1px gray solid;
}

.sidebar img {
    height: 30px;  
    width: 25px;
}

.sidebaryoutube {
    color: gray;
}
/* main section */
.infobar {
    display: flex;
    justify-content: space-between;
background: lightblue
}
.insideinfobarright {
    color: blue;
}
.insideinfobarleft {
display: flex;
}
.maincontainer {
 width: 100%;
}
.youtubemusic img {
    width:100%;
}
.firstcontainer {
    width: 90%;
    display : flex;
    margin-right: 30%;
    margin-left: 10%;
}
.trending {
    font-style: bold;
}
.firstcontainer img {
width: 100%
}
.container1image1 {
   
}
.textforfirstcontainer {
    color: gray;
    font-size: 10px;
}

.secondcontainer {
    font-size: 10px;
    border-top: 1px solid gray;
}

    .topbarincontainer2 {
    display: flex;
    justify-content: space-between;
    
    }
        .channelnameandicon {
        display: flex;
        }
        .topbarcontainer2image {
            width: 100px;
        }
    .videosectionincontainer2 {
    display: flex;
    }
        .video1insecondcontainer {
             display: block;
            }
.video1insecondcontainer img {
    width: 70%;
}
.recommendedchannelsection {
    font-size: 10px;
    color: gray;
    align-items: center;
    margin-left: 10px;
}
.channellogo {
    width: 40px;
    border-radius: 20px;
}
.thirdcontainer {
    border-top: 1px solid gray;
    font-size: 10px;
    display: flex
}
.thirdcontainervideos {
    display: flex;
}
.fourthcontainer {
border-top: 1px solid gray;
font-size: 10px;

}